@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #128596;
    height: 15vh;
}

header nav{
    width: 60%;
 
}

.busca{
    width: 60%;
    display: flex;
}

.menuList{
    display: flex;
    justify-content: space-evenly;
    
}



.menuList a{
    font-size:14px;
    text-decoration: none;
    color:#FFFFFF;
    
}


.menuMobile{
    display: none;
}


input{
    border-radius: 10px;
    height: 17px;
    width: 102px;
}


input::placeholder{
    text-align: center;
    background-image: url('./assets/image\ 1.png');
    background-repeat: no-repeat;
}